main img{
    position: relative;
    width: 100%;
    height:auto;
    margin: auto;
    margin-top: 3%;
    filter: brightness(85%);
    border-radius: 35px;
    z-index: -1;
    
}
.main_banner{
   display: flex;
   justify-content: center;
   margin-top: -11%;
   font-size: 60px;
   z-index: 1;
   color: white;
}

.container{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   margin-top: 10%;
   background-color: #F6F6F6;
   border-radius: 20px;
    
}
.card img{
    display: flex;
    width:  90%;
    z-index: 1;
    height: 300px;
    object-fit: cover;
    filter: brightness(75%);
}
.card{
    position: relative;
    width: 30%;
    margin: 2% auto 2% auto;

}
.card h3{
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    left: 10%;
    top: 70%;
    width: 60%;
    color: white;
    font-weight: 500;

}