@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.kasa_nav{
display: flex;
justify-content: space-between;
align-items: center;
width: auto;
margin: 20px auto auto auto;
}
.kasa_nav img{
    width: 100%;
}
.kasa_accueil{
    height: 10%;
    font-size: 24px;
    border: none;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    background-color: white;
    color: #FF6060;
    font-family: 'Montserrat';
}
.kasa_accueil:hover{
    border-bottom: 2px solid #FF6060;
}
.kasa_propos{
    margin-left: 50px;
    font-size: 24px;
    border: none;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    background-color: white;
    color: #FF6060;
    font-family: 'Montserrat';
}
.kasa_propos:hover{
    border-bottom: 2px solid #FF6060;
    
}

@media (max-width: 992px){
    .kasa_nav img{
        width: 80%;
    }
    .kasa_accueil{
        font-size: 18px;
    }
    .kasa_propos{
        font-size: 18px;
    }
}
@media (max-width: 768px){
    .kasa_nav img{
        width: 145px;
        height: 47px;
    }
    
    
    .kasa_accueil{
        font-size: 12px;
        text-transform: uppercase;
    }
    .kasa_propos{
        text-transform: uppercase;
        font-size: 12px;
        margin-left: 25px;
    }
}


