@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.box_collapse {
    display: flex;

}
.collapse_description{
    width: 48%;
    margin-right: 5%;
}
.collapse_equipement{
    width: 48%;
}
.box_tag_rating{
    display: flex;
    justify-content: space-between;
    width: auto;
    position: relative;
}
.title_location{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title_location h1{
    font-size: 36px;
    width: 80%;
    color: #FF6060;
    font-family: 'Montserrat';
    font-weight: 500;
    margin: 2% 0 1% 0;
}
.title_location span{
    font-size: 18px;
    color: #FF6060;
    font-family: 'Montserrat';
    margin-bottom: 1%;
}

.picture_rating{
    display: flex;
    margin-top: 2%;
    
}

.picture_rating h2{
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: right;
    font-weight: 500;
    color: #FF6060;
    margin-right: 0.5%;
}

.picture_rating img{
    border-radius: 100px;
    width: 64px;
    height: 64px;
    margin-left: 5%;
}