@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.box_collapse{
    display: flex;
    width: 100%;
}
.collapse_description{
width: 50%;
}
.collapse_description div{
    font-size: 16px;
}
.collapse_equipement{
width: 50%;
}
.collapse_equipement div{
    font-size: 16px;
}

.box_tag_rating{
    display: flex;
    justify-content: space-between;
    width: auto;
    position: relative;
    margin-bottom: 3%;
}
.title_location{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title_location h1{
    font-size: 36px;
    width: 70%;
    color: #FF6060;
    font-family: 'Montserrat';
    font-weight: 500;
    margin: 2% 0 1% 0;
}
.title_location span{
    font-size: 18px;
    color: #FF6060;
    font-family: 'Montserrat';
    margin-bottom: 1%;
}

.picture_rating{
    display: flex;
    margin-top: 2%;
    
}

.picture_rating h2{
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: right;
    font-weight: 500;
    color: #FF6060;
    margin-right: 0.5%;
}

.picture_rating img{
    border-radius: 100px;
    width: 64px;
    height: 64px;
    margin-left: 5%;
}
@media (max-width:992px){
    .title_location h1{
    font-size: 30px;
}
}


@media (max-width:768px){
    .box_collapse {
        margin-top: 5%;
        display: inline;
    }
    .title_location h1{
        font-size: 18px;
    }
    .title_location span{
        font-size: 14px;
    }
    .collapse_description{
        width: 100%;
        margin-bottom: 7%;
    }
    .collapse_equipement{
        
        width: 100%;
    }
    .box_tag_rating{
        flex-direction: column;
        margin-bottom: 2%;
    }
    .picture_rating{
        flex-direction: row-reverse;
        align-items: center;
    }
    .picture_rating img{
        width: 42px;
        height: 42px;
        
    }
    .picture_rating h2{
        position: absolute;
        text-align: right;
        right: 55px;
        width: 12%;
        font-size: 12px;
    }
}
@media (max-width:500px){
    .picture_rating h2{
        width: 15%;
    }
}