@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.collapse{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   color: #f66060;
   width: 100%;
    
}
.collapse button{
    font-family: 'Montserrat';
    width: 100%;
    margin: 0;
    border: none;
    padding: 0 1% 0 1%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.button_style{
    background-color: #f66060;

}
.content{
    width: 95%;
    height: auto;
    padding: 5% 2% 5% 3%;
    background-color: #F6F6F6;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
    line-height: 143%;
}



