@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container_carousel{
  position: relative;
}

.leftArrow{
    position: absolute;
    top: 200px;
    font-size: 78px;
    color: white;
    cursor: pointer;
}

.rightArrow{
    position: absolute;
    top: 200px;
    right: 0px;
    font-size: 78px;
    color: white;
    cursor: pointer;
}
.index_slide{
    font-family: 'Montserrat';
    font-size: 18px;
    position: absolute;
    z-index: 1;
    right: 50%;
    margin-top: -50px;
    color: white;
}
.carousel_image{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 25px;
    width: 100%;
    height: 415px;
    max-height: 415px;
    object-fit: cover;
    margin-top: 2%;
}

@media (max-width: 992px){
    .leftArrow{
        font-size: 60px;
    }
    .rightArrow{
        font-size: 60px;
    }
}
@media (max-width: 768px){
    .carousel_image{
        margin-top: 4%;
        border-radius: 10px;
    }
    .leftArrow{
        font-size: 45px;
    }
    .rightArrow{
        font-size: 45px;
    }
}