@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

article{
    margin: 4% auto 4% auto;
}
.collapse{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    color: #f66060;
}
.collapse button{
    font-family: 'Montserrat';
    width: 80%;
    border: none;
    padding: 0 1% 0 1%;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

.button_style{
    background-color: #f66060;
}
.content{
    width: 75%;
    height: auto;
    padding: 2% 2% 2% 3%;
    background-color: #F6F6F6;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
}

@media (max-width: 992px){
    .collapse{
        margin-bottom: 5%;
    }
    .collapse button{
        width: 90%;
    }
    .content{
        width: 85%;
    }
}
@media (max-width: 768px){
    .collapse{
        margin-bottom: 7%;
    }
    .collapse button{
        width: 100%;
    }
    .content{
        width: 95%;
    }
}





