@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.divCollapse{
    margin: 4% auto 4% auto;
    width: 90%;
}
.collapse{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
    color: #f66060;
}
.button_style{
    font-family: 'Montserrat';
    width: 100%;
    border: none;
    padding: 0 1% 0 1%;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    background-color: #f66060;
}
.content{
    height: auto;
    width: 96%;
    padding: 2%;
    background-color: #F6F6F6;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
}

@media (max-width: 992px){
   .divCollapse{
    width: 80%;
   }
   .content{
    font-size: 16px;
}
  .collapse button{
    font-size: 17px;
}
}
@media (max-width: 768px){
    .divCollapse{
        width: 85%;
    }
    .content{
        font-size: 12px;
    }
    .collapse button{
        font-size: 13px;
        height: 30px;
    }
}





